<html>
<head>
	<meta charset="UTF-8">
	<title>Rent-Apartment-Search-Api</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
	
	<div id="mapdiv" class="mapdiv"></div>
	<div class="texto_parrafo">Hernan Contigiani</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.11/lib/OpenLayers.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename="js/mapload.js")}}"></script>
  
</body></html>